{% extends 'base.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}

    <h1>Edit Message</h1>

    {# Render the message edit form #}
    <form method="post">
        {{ form_start(form) }}
        {{ form_row(form.content) }}
        {{ form_row(form.reason) }}
        <button type="submit">Save Changes</button>
        {{ form_end(form) }}
    </form>

{% endblock %}
